AWS_ACCESS_KEY_ID="AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="AWS_SECRET_ACCESS_KEY"
AWS_REGION="AWS_REGION"
S3_BUCKET="S3_BUCKET"
REDSHIFT_WORKGROUP="REDSHIFT_WORKGROUP"
REDSHIFT_DATABASE="REDSHIFT_DATABASE"
REDSHIFT_IAM_ROLE="REDSHIFT_IAM_ROLE"
REDSHIFT_USER="REDSHIFT_USER"
REDSHIFT_PASSWORD="REDSHIFT_PASSWORD"
REDSHIFT_HOST="REDSHIFT_HOST"